/env
/.vscode
/globalsolar/solar_pages/__pycache__
/globalsolar/globalsolar/__pycache__
/globalsolar/solar_pages/migrations/__pycache__
/globalsolar/globalsolar/static/CACHE
/globalsolar/contacts/__pycache__
/globalsolar/contacts/migrations/__pycache__