.register {
  h1 {
    text-align: center;
    margin: 30px 0;
  }
  hr {
    background: linear-gradient(
      90deg,
      rgba(245, 87, 75, 1) 0%,
      rgba(250, 121, 83, 1) 49%,
      rgba(255, 158, 92, 1) 100%
    );
    width: 70px;
    height: 1px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .input {
    color: $font-main--color-primary_1;
    width: 350px;
    height: 50px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    border-width: 0 0 1px 0;
    outline: 0 !important;
  }
  .reg {
    margin: 30px 170px;
  }
}
