<div class="container-fluid bg-catalog">
    <div class="container catalog">
        <div class="row">
            <div class="col-3">
                <div class="col-12 category pl-0 pr-0">
                    <div class="col-12 category_t p-0">
                        <h2>категорії</h2>
                    </div>
                    <ul><h3><a href="#">Готові рішення</a></h3>
                        <hr>
                        <li><a href="#">Автономні</a></li>
                        <li><a href="#">Власне споживання</a></li>
                        <li><a href="#">Вуличне освітлення</a></li>
                        <li><a href="#">Зелений тариф</a></li>
                        <li><a href="#">Карпорт</a></li>
                        <li><a href="#">Підігрів води</a></li>
                    </ul>
                    <ul><h3><a href="#">Сонячні інвертори</a></h3>
                        <hr>
                        <li><a href="#">Автономні</a></li>
                        <li><a href="#">Гібридні (з АКБ)</a></li>
                        <li><a href="#">Мережеві (зелений тариф)</a></li>
                    </ul>
                    <ul><h3><a href="#">Сонячні панелі</a></h3>
                        <hr>
                        <li><a href="#">Монокристалічні</a></li>
                        <li><a href="#">Полікристалічні</a></li>
                    </ul>
                </div>
            </div>
            <div class="catalog_tovaru col-9">
                    <div class="row">
                        
                        <div class="col-4">
                            <a href="../product.html" >
                                <div class="price_black">
                                <div class="col-12 price_black_top p-0">
                                    <h2>Станція 500квт</h2>
                                </div>
                                <div class="price_black_bottom col-12 p-0">
                                    <div class="bottom col-12">
                                        <p class="info_catalog">СЕС 500кВт під власне споживання</p>
                                        <p class="price_catalog">3500$</p>
                                    </div>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div class="col-4  ">
                            <div class="price_black">
                                <div class="col-12 price_black_top p-0">
                                    <h2>Станція 500квт</h2>
                                </div>
                                <div class="price_black_bottom col-12 p-0">
                                    <div class="bottom col-12">
                                        <p class="info_catalog">СЕС 500кВт під власне споживання</p>
                                        <p class="price_catalog">3500$</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4  ">
                            <div class="price_black">
                                <div class="col-12 price_black_top p-0">
                                    <h2>Станція 500квт</h2>
                                </div>
                                <div class="price_black_bottom col-12 p-0">
                                    <div class="bottom col-12">
                                        <p class="info_catalog">СЕС 500кВт під власне споживання</p>
                                        <p class="price_catalog">3500$</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4  ">
                            <div class="price_black">
                                <div class="col-12 price_black_top p-0">
                                    <h2>Станція 500квт</h2>
                                </div>
                                <div class="price_black_bottom col-12 p-0">
                                    <div class="bottom col-12">
                                        <p class="info_catalog">СЕС 500кВт під власне споживання</p>
                                        <p class="price_catalog">3500$</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4  ">
                            <div class="price_black">
                                <div class="col-12 price_black_top p-0">
                                    <h2>Станція 500квт</h2>
                                </div>
                                <div class="price_black_bottom col-12 p-0">
                                    <div class="bottom col-12">
                                        <p class="info_catalog">СЕС 500кВт під власне споживання</p>
                                        <p class="price_catalog">3500$</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4  ">
                            <div class="price_black">
                                <div class="col-12 price_black_top p-0">
                                    <h2>Станція 500квт</h2>
                                </div>
                                <div class="price_black_bottom col-12 p-0">
                                    <div class="bottom col-12">
                                        <p class="info_catalog">СЕС 500кВт під власне споживання</p>
                                        <p class="price_catalog">3500$</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4  ">
                            <div class="price_black">
                                <div class="col-12 price_black_top p-0">
                                    <h2>Станція 500квт</h2>
                                </div>
                                <div class="price_black_bottom col-12 p-0">
                                    <div class="bottom col-12">
                                        <p class="info_catalog">СЕС 500кВт під власне споживання</p>
                                        <p class="price_catalog">3500$</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4  ">
                            <div class="price_black">
                                <div class="col-12 price_black_top p-0">
                                    <h2>Станція 500квт</h2>
                                </div>
                                <div class="price_black_bottom col-12 p-0">
                                    <div class="bottom col-12">
                                        <p class="info_catalog">СЕС 500кВт під власне споживання</p>
                                        <p class="price_catalog">3500$</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4  ">
                            <div class="price_black">
                                <div class="col-12 price_black_top p-0">
                                    <h2>Станція 500квт</h2>
                                </div>
                                <div class="price_black_bottom col-12 p-0">
                                    <div class="bottom col-12">
                                        <p class="info_catalog">СЕС 500кВт під власне споживання</p>
                                        <p class="price_catalog">3500$</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="pagin">
                        <div class="col-12">
                          <nav
                            class="navigation pagination"
                            role="navigation"
                            aria-label="Навігація записів"
                          >
                            <h2 class="screen-reader-text">Навігація записів</h2>
                            <div class="nav-links">
                              <a class="page-numbers" href="#">1</a>
                              <a class="page-numbers" href="#">2</a>
                              <a class="page-numbers" href="#">3</a>
                              <a class="page-numbers" href="#">4</a>
                            </div>
                          </nav>
                        </div>
                      </div>
                </div>
        </div>
    </div>
</div>