<main>
  <div class="container-fluid about">
    <div class="container">
      <div class="row">
        <div class="header col-12">
          <h1>Про нас</h1>
          <hr />
          <p>
            Спеціалізацією нашої компанії «Солар Систем» є монтаж, реалізація,
            сервісне гарантійне та післягарантійне обслуговування сонячних
            електростанцій та сонячних колекторів будь-якої складності та
            потужності. Займаємось:
          </p>
        </div>
        <section class="content col-12">
          <p>
            Спираючись на успішний досвід реалізації понад 100 проектів в сфері
            альтернативної енергетики, за останні 5 років, для кожного нашого
            клієнта ми гарантуємо: розробка кожного проекту здійснюється
            професійним інженером з використанням спеціалізованих програм
            PVSyst, FroniusSolarConfigurator, що дає можливість на підготовчому
            етапі спрогнозувати, з яким результатом буде працювати СЕС та
            скільки принесе доходу.<br />
            Mонтаж сонячних панелей виконується спеціалістами покрівельниками,
            які досконало розуміються на всіх конструктивних тонкощах висотних
            та покрівельних робіт, з реальним портфоліо понад 400 об’єктів.
            Відповідно ми надаємо повну гарантію терміном 2 роки на всі
            будівельно-монтажні роботи.
          </p>
        </section>
        <section class="our_ambition col-12">
          <div class="row">
            <div class="img col-5"><img src="../img/about/work.png" /></div>
            <div class="col-6 offset-1">
              <div class="col-12 ambition_middle">
                <div class="row">
                  <div class="col-5 ambition_border">
                    <img src="../img/about/team.png" alt="" />
                    <div class="row">
                      <h4>
                        Наша амбіція — <br />направити енергію сонця в кожний
                        дім.
                      </h4>
                    </div>
                  </div>
                  <div class="col-7 ambition_text">
                    <p>
                      Тому що сонце — це суперджерело, яке здатне зробити
                      будинок кращою версією себе: розумним, екологічним,
                      контрольованим та вигідним.
                    </p>
                  </div>
                </div>
              </div>
              <p class="text_out">
                Ми пропонуємо економічні та прості в використанні технологічні
                рішення. Ми поважаємо своїх клієнтів, їх час та комфорт, тому ми
                на зв’язку 24/7 і завжди готові відповідати на будь-які питання
                та проводити сервісне обслуговування обладнання.
              </p>
            </div>
          </div>
        </section>
        <section class="our_methods col-12">
          <div class="row">
            <div class="methods col-7">
              <h5>Наші методи зрозумілі та ефективні:</h5>
              <ul>
                <li>
                  Щоб забезпечити наших клієнтів офіційною гарантією від
                  виробника та оптимальними цінами, ми уклали прямі договори з
                  постачальниками обладнання.
                </li>
                <li>
                  Ми сформували власні монтажні команди для того, щоб повністю
                  відповідати за результат роботи.
                </li>
                <li>
                  Для того, щоб наш сервіс завжди був вчасним, ми створили
                  власний склад і вантажний автопарк.
                </li>
              </ul>
            </div>
            <div class="col-5">
              <img src="../img/about/work_copy.png" alt="" />
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <div class="container-fluid bg-advantages_us">
    <div class="container advantages">
      <div class="col-12">
        <h2>Наші переваги</h2>
        <div class="row offset-1 advantages_row_one">
          <div class="col-5 p-0">
            <img src="../img/img/01.png" alt="" />
            <h3>Розробка проекту "під ключ"<span>01</span></h3>
            <p>
              Комплексний підхід дає відповіді на питання: скільки буде
              коштувати обладнання, який дохід принесе СЕС, 3D макет всіх
              конструктивних елементів, розрахунок всіх поточних витрат
              пов'язаних з реалізацією проекту
            </p>
          </div>
          <div class="col-5 offset-1 p-0">
            <img src="../img/img/02.png" alt="" />
            <h3>Технічна підтримка 24/7/365<span>02</span></h3>
            <p>
              Інженери компанії пройшли спеціалізоване навчання від провідних
              світових виробників - Fronius та Huawei, це дозволяє вирішувати
              нестандартну ситуацію в роботі обладнання терміном до 48 годин
            </p>
          </div>
        </div>
        <div class="row offset-1 p-0">
          <div class="col-5">
            <img src="../img/img/03.png" alt="" />
            <h3>Он-лайн моніторинг<span>03</span></h3>
            <p>
              Постійно відслідковуючи роботу всіх СЕС, що підключені до
              інтернету, ми контролюємо надійність та продуктивність роботи
              встановленого обладнання у форматі 24/7, з гарантією на виконані
              роботи 2 роки
            </p>
          </div>
          <div class="col-5 offset-1 p-0">
            <img src="../img/img/04.png" alt="" />
            <h3>Сертифіковане обладнання<span>04</span></h3>
            <p>
              Використовуючи лише сертифіковане обладанання та комплектуючі
              провідних світових виробників, ми надаємо 2 роки гарантії на
              виконані монтажні роботи та повну гарантію від заводу виробника
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid bg-scheme">
    <div class="container scheme">
      <div class="col-12">
        <div class="row">
          <img
            class="img_scheme col-7"
            src="../img/about/Vlasne_spozhyvannya_schema-1024x613.png"
          />
          <div class="resources col-5">
            <p>
              <span>Наш головний ресурс</span> — це команда професіоналів, тому
              ми цінуємо кожного, з ким працюємо. Ми постійно підвищуємо
              кваліфікацію членів команди: від керівників відділів до
              інсталяторів. Тільки так досягається найкращий результат.
            </p>
            <p>
              Закони ринку гарантують зростання пропозиції при умові такого
              великого попиту. Сьогодні знайти компанію, яка готова встановити
              сонячні панелі на даху вашого будинку можна за лічені секунди.
              Робити бізнес від продажу та монтажу обладнання під “зелений
              тариф” кинулися всі. Вчорашні юристи, продавці та студенти активно
              пропонують свої послуги. Споживачу складно оцінити рівень
              кваліфікації підрядника, та й не заведено в нашій країні ретельно
              перевіряти контрагента.
            </p>

            <p>
              Спорудження об’єктів електроенергетики ― це відповідальна галузь,
              що потребує професійного підходу. Помилки можуть коштувати дорого:
              загроза працездатності станції, небезпека виникнення пожежі, та
              навіть загроза життю і здоров’ю людей.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid video">
    <div class="container">
      <iframe class="col-12" width="1349" height="480" src="https://www.youtube.com/embed/NLO9w963Aj0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</main>
