<div class="container-fluid ses">
    <div class="container ">
        <div class="head text col-12 ">
            <h1>Сонячна станція для покриття власного споживання в бізнесі</h1>
            <hr />
            <p id="head_p">
                Одна з найбільш обговорюваних тем 2019 року в Україні після виборів — запуск нової моделі ринку
                електроенергії. “Закон про ринок електроенергії”, який парламент ухвалив ще у квітні 2017 року,
                передбачає перехід на нову модель з 1 липня 2019 року.
            </p>
            <p id="main_p">
                Найбільш чітка відповідь на запитання: а що конкретно зміниться для фізичних осіб та підприємств?
                Звучить коротко – ВАРТІСТЬ. Анонсується, що в найближчі 5 років вартість електроенергії для юридичних
                осіб зросте від 50 до 100% та на 40-50 % для населення.
            </p>
            <p id="main_p">
                Як аргумент просто подивіться графік як зростала вартість електричної енергії за останні 30 років
                української незалежності.
            </p>
            <p id="main_p">
                На Заході бізнес вже давно стикнувся з проблемою високої вартості енергоресурсів і вже десятки років
                використовує ефективні альтернативні енергетичні рішення. В статті ми дамо відповідь на 6 найважливіших
                запитань стосовно ефективних енергетичних рішень, з використання роботи сонячних батарей, що дозволяють
                знизити поточні витрати на придбання е.е. від монополіста. В кінці статті ми дамо реальний приклад
                розрахунку СЕС для підприємства.
            </p>
        </div>
        <div class="col-12 row">
            <div class="head col-7">
                <ol>
                    <li class="listtext ">В чому головна ІДЕЯ?
                        <ul id="main_p">З якими двома проблемами в енергетичному секторі стикається бізнес в
                            Україні:
                            <li>монопольне становище Обленерго, в сфері надання послуг енергопостачання, створює
                                постійну залежність бізнесу від тарифів на електричну енергію. Наслідок проблеми –
                                неможливість сформувати реальну собівартість одиниці товару через постійну зміну (а
                                точніше збільшення вартості) е.е. в довгостроковій перспективі.</li>
                            <li>Cтворення нового бізнесу (виробництво, будівництво …) або маштабування діючого,
                                напряму
                                пов’язане з необхідністю збільшення потужності ліній електропостачання. Ринкові
                                відносини побудовані таким чином, що підприємець за власний кошт реконструює лінії,
                                купує нові трасформатори і т.д але власником цього майна не стає, фактично вкладаючи
                                кошти в активи приватних структур Обленерго.</li>
                        </ul>
                    </li>
                </ol>
            </div>
            <div class="head col-5">
                <img class="man" src="../img/ses/man_in.png" />
            </div>
        </div>
    </div>

    <div class="container list">

        <div class="col-12 head">
            <ol>
                <li value="2" class="listtext ">Які можливості сонячної станції для покриття власного споживання?
                    <p id="main_p">
                        На початку розробки попереднього технічного рішення, проводиться повний аналіз характеру
                        споживання
                        електроенергії на підприємстві (спеціалізований енергетичний аудит). В залежності від характеру
                        споживання та особливостей установки сонячних панелей, підбирається потужність сонячної
                        електростанції, яка може замістити до 50% власного споживання в річному балансі.</p>
                    <p id="main_p">
                        Важливою аспектом, в такому випадку, стає умова – циклу роботи підприємства чи установи.
                        Ідеалістичним є варіант, коли пікові енергетичні навантаження співпадають з денною активністю
                        сонця.
                        В такому випадку, даний вид станцій може бути встановлені на офісах, виробництвах, складах,
                        супермаркетах, мийках, школах, державних установах та інших об’єктах, де є стабільне споживання
                        протягом дня.</p>
                    </ul>
                </li>
                <li class="listtext "> Як це працює?
                    <ul id="main_p">Сонячні батареї, генерують електричну енергію (постійний струм). Інвертор перетворює
                        постійний струм у трьох фазний змінний. Змінний струм подається в загальну енергомережу
                        підприємства. З метою виключення випадків перетікань потужності в енергомережу Обленерго,
                        інвертор підключається до спеціального приладу обліку електроенергії (його ще називають розумний
                        лічильник або SmartMetter), який фіксує моментальне навантаження і коректує роботу СЕС таким
                        чином, щоб генерація не перевищила споживання. Таким чином сонячна станція може працювати в двох
                        режимах:
                        <li>Генерація СЕС перевищує споживання на виробництві. За таких умов перетворена сонячна енергія
                            скеровується на навантаження, е.е. з мережі не купується.</li>
                        <li>Генерація СЕС менша або дорівнює споживанню е.е. на виробництві. Енергія від сонячних
                            панелей використовується споживачами, в разі недостачі, енергія паралельно добирається з
                            мережі.</li>
                    </ul>
                </li>
                <li class="listtext ">Яка послідовність реалізації проекту будівництва СЕС?
                    <ul id="main_p">
                        <li>Аналіз характеру енергоспоживання на виробництві, циклу роботи підприємства протягом
                            доби/тижня/місяця/року. Може передбачати прогнозування маштабування росту виробництва;</li>
                        <li>Визначення доступних площ дахів / територій/ де можливі оптимально встановити сонячні
                            батареї для ефективної роботи;</li>
                        <li>Поставка та монтаж обладнання для сонячної електростанції. Включає в себе будівельні,
                            монтажні та електро-технічні роботи;</li>
                        <li>Старт роботи сонячної електростанції з налаштуванням роботи смарт-лічильника, підключення
                            системи NET- моніторингу.</li>
                    </ul>
                </li>
            </ol>
            <p class="listtext">Приклад розрахунку окупності та дохідності станції на власне споживання </p>

                <p> Розглянемо основні економічні та енергетичні показники роботи сонячної електростанції, на прикладі
                одного з підприємств деревообробної галузі, розташованого в Рівненській області.</p>

               <p>Для встановлення сонячної станції потужністю 61,6 кВт (потужність сонячних фотомодулів ), було обрано
                односкатний дах виробничого приміщення покритий полімерною мембраною. Загальна площа будівлі становить
                1560 м2, достатньо площі 750 м. кв. Система кріплення передбачає спеціалізовану конструкція з кутом
                нахилу 30 градусів.</p>
           

            <div class="col-10 offset-1">
                <img class="table" src="../img/ses/table.png" />
            </div>
        </div>
    </div>
</div>