<footer>
    <section class="upper">
        <div class="container">
            <div class="row">
              <div class=" col-2 offset-4 col-xl-2 col-md-2 logo">
                <a href="/">
                <img src="{{STATIC_PREFIX}}img/logo.png" alt="logo" />
                <span>Global Solar</span>
                </a>
              </div>
              <div class="offset-1 col-xl-9 col-md-9 pages">
                {% with url_name=request.resolver_match.url_name %}
          <div>
            <a
              class="{% if url_name == 'index' %} active {% endif %}"
              href="{% url 'index' %}"
              >ГОЛОВНА</a
            >
          </div>
          <div>
            <a
              class="{% if url_name == 'prices' %} active {% endif %}"
              href="{% url 'prices' %}"
              >ПОСЛУГИ І ЦІНИ</a
            >
          </div>
          <div>
            <a
              class="{% if url_name == 'faq' %} active {% endif %}"
              href="{% url 'faq' %}"
              >FAQ</a
            >
          </div>
          <div>
            <a
              class="{% if url_name == 'contacts' %} active {% endif %}"
              href="{% url 'contacts' %}"
              >КОНТАКТИ</a
            >
          </div>
          <div>
            <a
              class="{% if url_name == 'portfolio' %} active {% endif %}"
              href="{% url 'portfolio' %}"
              >НАШІ РОБОТИ</a
            >
          </div>
          <div>
            <a
              class="{% if url_name == 'catalog' %} active {% endif %}"
              href="{% url 'catalog' %}"
              >КАТАЛОГ</a
            >
          </div>
          {% endwith %}
            </div>
              
              <div class='icons col-12 col-md-10 col-xl-12'>
                  <a href="#" class="offset-xl-4 col-xl-1">
                <i class="fab fa-facebook-f"></i>
                <p>Facebook.com</p>
                </a>
                <a href="#" class="offset-xl-1 col-xl-1">
                <i class="fab fa-telegram-plane"></i>
                <p>Telegram</p>
            </a>
              </div>
            </div>
    </section>
    <hr/>
    <p class="copyright">&#169; 2020 All Rights Reserved.</p>
</footer>
