{% load static %}
<section class="top--header">
  <div class="container-fluid top--header__bg">
    <div class="container">
      <div class="row">
        <div class="col-xl-2 col-md-2 logo">
          <a href="{% url 'index' %}">
            <img src="{{STATIC_PREFIX}}img/logo.png" alt="logo" />
            <span
              >Global <br />
              Solar</span
            >
          </a>
        </div>
        <div class="col-xl-7 col-md-7 pages">
          {% with url_name=request.resolver_match.url_name %}
          <div>
            <a
              class="{% if url_name == 'index' %} active {% endif %}"
              href="{% url 'index' %}"
              >ГОЛОВНА</a
            >
          </div>
          <div>
            <a
              class="{% if url_name == 'prices' %} active {% endif %}"
              href="{% url 'prices' %}"
              >ПОСЛУГИ І ЦІНИ</a
            >
          </div>
          <div>
            <a
              class="{% if url_name == 'faq' %} active {% endif %}"
              href="{% url 'faq' %}"
              >FAQ</a
            >
          </div>
          <div>
            <a
              class="{% if url_name == 'contacts' %} active {% endif %}"
              href="{% url 'contacts' %}"
              >КОНТАКТИ</a
            >
          </div>
          <div>
            <a
              class="{% if url_name == 'our_works' %} active {% endif %}"
              href="{% url 'our_works' %}"
              >НАШІ РОБОТИ</a
            >
          </div>
          <div>
            <a
              class="{% if url_name == 'catalog' %} active {% endif %}"
              href="{% url 'catalog' %}"
              >КАТАЛОГ</a
            >
          </div>
          {% endwith %}
        </div>

        <div class="offset-1 col-xl-2 col-md-2 top--header_butons">
          <button
            type="submit"
            class="btn btn-outline-danger"
            data-toggle="modal"
            data-target="#exampleModalCenter"
          >
            ВХІД
          </button>
        </div>
        <div
          class="modal fade"
          id="exampleModalCenter"
          tabindex="-1"
          role="dialog"
          aria-labelledby="exampleModalCenterTitle"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">SIGN IN</h5>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form action="#" method="POST">
                  <input
                    class="input"
                    type="text"
                    name="username"
                    placeholder="Username"
                    required=""
                  />
                  <input
                    class="input"
                    type="password"
                    name="password"
                    placeholder="Password"
                    required=""
                  />
                </form>
                <p>
                  Don't have an Account?
                  <a href="{% url 'register' %}"> Register Now!</a>
                </p>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  Close
                </button>
                <input type="submit" class="btn-danger sign" value="Sign In" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
