main {
  .bg_profit_main {
    .bg_profit_main_decor {
      position: absolute;
      top: 350px;
      width: 25%;
      right: 20px;
      z-index: 0;
    }
    background-color: $bg-main--color-primary_2;
    .profit_main {
      position: relative;
      top: -45px;
      padding-top: 50px;
      height: 265px;
      background-color: $bg-main--color-primary_1;
      border-radius: 3px;
      box-shadow: 0 20px 7px -1px rgba(241, 241, 241, 1);
      h2 {
        text-align: center;
      }
      p {
        text-align: center;
      }
      .main_prof {
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
        img {
          float: left;
        }
        div {
          width: 30%;
        }
        h3 {
          line-height: 70px;
        }
      }
    }
  }
  .info_main {
    padding: 0px 0 40px 0;
    .info_main_p {
      margin-top: 0;
    }
  }
  .bg_benefits_main {
    background-color: $bg-main--color-primary_3;
    .benefits_main {
      padding: 100px 0 90px 0;
      button {
        float: right;
      }
    }
  }
  .bg_need_main {
    background-image: url(../img/img/bg_need_2.png);
    .need_main {
      padding: 90px 0;
      .need_main_text {
        h2,
        p {
          text-align: center;
          color: $default--color__3;
        }
        hr {
          width: 75px;
          height: 1px;
          border: none;
          margin: 20px auto;
          background-color: $btn--color-primary_1;
        }
      }
      .evidence_need_main {
        img {
          display: block;
          margin: 0 auto 20px auto;
        }
        p {
          text-align: center;
          color: $default--color__3;
        }
      }
      button {
        display: block;
        margin: 30px auto 0 auto;
      }
    }
  }
  .bg-advantages {
    background-color: $default--color__3;
    .bg-advantages_decor {
      position: absolute;
      top: 2150px;
      width: 22%;
      right: -150px;
      z-index: 0;
    }
    .advantages {
      padding: 120px 0 80px 0;
      .advantages_row_one {
        margin-bottom: 50px;
      }
      h2 {
        text-align: center;
        margin-bottom: 60px;
      }
      img {
        float: left;
        padding-bottom: 50px;
      }
      h3 {
        height: 50px;
        line-height: 30px;
        font-weight: 600;
        span {
          font-size: 64px;
          color: #f2f2f2;
          margin: 0;
          float: right;
        }
      }
    }
  }

  .bg_form {
    background-image: url(../img/img/bg_form_2.png);
    height: 390px;
    .bg_form_decor {
      position: absolute;
      top: 2650px;
      width: 20%;
      left: -100px;
      z-index: 0;
    }
    .form {
      padding-top: 40px;
      .form_h2 {
        margin-top: 40px;
        color: $default--color__3;
      }
      p {
        color: $default--color__3;
      }
      hr {
        width: 75px;
        height: 1px;
        border: none;
        margin: 20px 0;
        background-color: $btn--color-primary_1;
      }
      .form_ {
        height: 400px;
        background-color: $default--color__3;
        border-radius: 3px;
        box-shadow: 2.5px 5px 5px 5px rgba(241, 241, 241, 0.4);
        h3 {
          margin-top: 30px;
          text-align: center;
        }
        .form_hr {
          margin: 20px auto 30px auto;
        }
        .input {
          color: $font-main--color-primary_1;
          width: 250px;
          height: 40px;
          display: block;
          margin: 0 auto;
          margin-bottom: 10px;
          border-width: 0 0 1px 0;
          outline: 0 !important;
        }
        input::placeholder {
          padding-left: 20px;
        }
        button {
          display: block;
          margin: 30px auto;
        }
      }
    }
  }
  .bg-price {
    padding: 150px 0 100px 0;
    background-color: $bg-main--color-primary_3;
    .bg-price_decor_1 {
      position: absolute;
      top: 3410px;
      width: 22%;
      left: 50px;
      z-index: 0;
    }
    .bg-price_decor_2 {
      position: absolute;
      top: 3800px;
      width: 15%;
      right: 0px;
      z-index: 0;
    }
    .price {
      .price_top {
        h2,
        p {
          text-align: center;
        }
        h2 {
          font-size: 32px;
        }
        hr {
          width: 75px;
          height: 3px;
          border: none;
          margin: 30px auto;
          background-color: $btn--color-primary_1;
        }
      }
      .price_middle {
        height: 100px;
        border: 7px solid $default--color__1;
        margin-top: 40px;
        margin-bottom: 40px;
        .price_middle_discount {
          img {
            position: relative;
            top: 7.5px;
            left: -40px;
            z-index: 1;
            background-color: $bg-main--color-primary_3;
            height: 70px;
          }
          h4 {
            line-height: 85px;
            text-align: center;
          }
        }
        .price_middle_text {
          margin-top: 15px;
          border: 2px solid $btn--color-primary_1;
          border-width: 0 0 0 2px;
          height: 60px;
          p {
            text-align: center;
            line-height: 60px;
          }
        }
      }
      .price_bottom {
        .price_black {
          border-radius: 5px;
          box-shadow: 0 10px 7px 5px rgba(24, 24, 25, 0.3);
          height: 500px;
          .price_black_top {
            height: 85px;
            background-color: $default--color__2;
            border-radius: 5px 5px 0 0;
            h2 {
              text-align: center;
              color: $default--color__3;
              line-height: 85px;
            }
          }
          .price_price {
            color: $default--color__2;
            font-size: 36px;
            margin: 30px 0 0 0;
            text-align: center;
          }
          .price_hr_top {
            width: 100px;
            height: 3px;
            border: none;
            margin: 5px auto;
            background-color: $default--color__2;
          }
          .price_text {
            margin-left: 30px;
            margin-bottom: 30px;
          }
          .price_hr_bottom {
            height: 1px;
            border: none;
            margin: 5px auto;
            background-color: #d9d9d9;
          }
          button {
            display: block;
            margin: 20px auto 0 auto;
            width: 198px;
            height: 50px;
            font-size: 14px;
            font-weight: 600;
          }
        }
        .price_orange {
          border-radius: 5px;
          box-shadow: 0 10px 7px 5px rgba(245, 88, 75, 0.3);
          height: 500px;
          .price_black_top {
            height: 85px;
            background: $gradient_1;
            border-radius: 5px 5px 0 0;
            h2 {
              text-align: center;
              color: $default--color__3;
              line-height: 85px;
            }
          }
          .price_price {
            color: $default--color__2;
            font-size: 36px;
            margin: 30px 0 0 0;
            text-align: center;
          }
          .price_hr_top {
            width: 100px;
            height: 3px;
            border: none;
            margin: 5px auto;
            background-color: $default--color__2;
          }
          .price_text {
            margin-left: 30px;
            margin-bottom: 30px;
          }
          .price_hr_bottom {
            height: 1px;
            border: none;
            margin: 5px auto;
            background-color: #d9d9d9;
          }
          button {
            display: block;
            margin: 20px auto 0 auto;

            font-size: 14px;
            font-weight: 600;
          }
        }
      }
    }
  }
  .modal-content {
    .input {
      color: $font-main--color-primary_1;
      width: 250px;
      height: 40px;
      display: block;
      margin: 0 auto;
      margin-bottom: 10px;
      border-width: 0 0 1px 0;
      outline: 0 !important;
    }
    .submit {
      width: 150px;
    }
    @include font(16px, $font-opensans-reg, $font-main--color-primary_1, 400);
  }
}
