.one {
  .img {
    margin-bottom: 30px;
    h1 {
      font-size: 30px;
      margin: 50px 0 20px 0;
    }
  }
  li {
    list-style-image: url(../img/img/li.png);
    line-height: 2.314;
    @include font(
      16px,
      $font-montserrat-medium,
      $font-main--color-primary_2,
      500
    );
  }
  button {
    margin: 30px 0;
  }
  .modal-content {
    text-align: center;
    .input {
      color: $font-main--color-primary_1;
      width: 250px;
      height: 40px;
      display: block;
      margin: 0 auto;
      margin-bottom: 10px;
      border-width: 0 0 1px 0;
      outline: 0 !important;
    }
    .submit {
      width: 150px;
    }
    @include font(16px, $font-opensans-reg, $font-main--color-primary_1, 400);
  }
}
