{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container-fluid bg-basket">
    <div class="container bascket">
        <div class="col-12 basket-product">
            <div class="row">
                <div class="col-2">
                    <img src="{{ product.photo_1.url }}" alt="">
                </div>
                <div class="col-6">
                    <h3>{{ product.title }}</h3>
                    <p>{{ product.description }}</p>
                </div>
                <div class="col-2">
                    <div class="row">
                        <button>-</button>
                        <input type="number" name="" id="">
                        <button>+</button>
                 </div>
                </div>
                <div class="col-2"><h2>{{ product.price }}$</h2></div>
            </div>
        </div>
        <div class="col-3 offset-9 busket_button">
            <button class="btn-danger">оформити замовлення</button>
        </div>
    </div>
</div>
{% endblock %}
