{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container-fluid bg-basket">
    <div class="container bascket">
        <div class="co-12 descr">
            <div class="row">
                <div class="col-2 offset-6"><h3>Кількість</h3></div>
                <div class="col-2"><h3>Ціна за 1 товар</h3></div>
                <div class="col-2"><h3>Ціна</h3></div>
            </div>
        </div>
            {% for item in basket %}
            {% with product=item.product %}
        <div class="col-12 basket-product">
            <div class="row">
                <div class="col-2">
                    <img class="basket_photo" src="{{ product.photo_0.url }}" alt="">
                </div>
                <div class="col-4">
                    <h2 class="basket_tile">{{ product.title }}</h2>
                    <p>{{ product.description }}</p>
                </div>
                <div class="col-2">
                        <form action="{% url 'basket:cart_add' product.id %}" method="post">
                            {{ item.update_quantity_form.quantity }}
                            {{ item.update_quantity_form.update }}
                            <input type="submit" class="btn-danger" value="Обновить">
                            {% csrf_token %}
                    </form>
                </div>
                <div class="col-2">
                    <h2 class="basket_price_p">${{ item.price }}</h2>
                </div>
                <div class="col-2">
                    <h2 class="basket_price_t">{{ item.total_price }}$</h2>
                    <form action="{% url 'basket:cart_remove' product.id%}">
                        <button class="btn-danger btn_remove">Видалити</button>
                    </form></div>
            </div></div>
            {% endwith %}
        {% endfor %}
        
        <div class="col-4 offset-8 busket_button">
                <h2 class="basket_price">{{ basket.get_total_price }}$</h2>
                <form action="{% url 'orders:order_create' %}">
                    <button class="btn-danger btn_of">Oформити замовлення</button>
                </form>
        </div>
    </div>
</div>
{% endblock %}
