{% extends "base.html" %}

{% block title %}Checkout{% endblock %}

{% block content %}
<div class="container-fluid create_bg">
    <div class="container create">
        <h2>Запомніть форму</h2>
        <div class="row">
            <div class="col-7 user_form">
                <form action="." method="post" class="order-form">
                    {{ form.as_p }}
                    <p><button class="btn-danger order_btn">Зробити замовлення</button></p>
                    {% csrf_token %}
                </form>
            </div>
            <div class="col-5 ">
                <div class="order-info">
                    <h2 class="order-info_h2">Ваше замовлення</h2>
                    <ul>
                        {% for item in basket %}
                            <li>
                                {{ item.quantity }}x {{ item.product.title }}
                                <span>${{ item.total_price }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                    <h3>Total: ${{ basket.get_total_price }}</h3>
                </div>
            </div>
        </div>
    </div>
</div>
    
    
{% endblock %}