{% extends 'base.html' %} {% load static %} {% block content %}
<main>
  <div class="container-fluid bg-dash">
    <div class="container">
      <h1>Особистий кабінет</h1>
      {% include 'partials/_alerts.html' %}
      <hr />
      <div class="row">
      <div class="col-4">
        <div class="list-group" id="list-tab" role="tablist">
          <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Історя замовлень</a>
          <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Персональні дані</a>
          <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Змінити пароль</a>
        </div>
      </div>
      <div class="col-8 ">
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list"></div>
          <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list"><form action="#" method="POST">
            <input
              class="input"
              type="text"
              name="Name"
              placeholder="Name"
              value="{{user.first_name}}"
              required=""
            />
            <input
              class="input"
              type="text"
              name="Surname"
              placeholder="Surname"
              value="{{user.last_name}}"
              required=""
            />
            <input
              class="email input"
              type="email"
              name="email"
              placeholder="Email"
              value="{{user.email}}"
              required=""
            />
            <input
              class="input"
              type="text"
              name="address"
              placeholder="Address"
              value="{{user.address}}"
            />
            <input type="submit" class="btn-danger change" value="Submit Change" />
          </form>
        </div>
          <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
            <form>
            <input
            class="input"
            type="password"
            name="old_password"
            placeholder="Old Password"
            required=""
          />
            <input
            class="input"
            type="password"
            name="password"
            placeholder="New Password"
            required=""
          />
          <input
            class="pass input"
            type="password"
            name="confirm-password"
            placeholder="Confirm Password"
            required=""
          />
          <input type="submit" class="btn-danger change" value="Change Password" />
          </form></div>
        </div>
      </div>
    </div>
    </div>
    </div>
  </div>
</main>
{% endblock %}