{% extends 'base.html' %} {% load static %} {% block content %}
<div class="three_body">
  <div class="container-fluid bg-energy">
    <div class="container energy">
      <div class="energy_top">
        <h1>Енергонезалежність</h1>
        <hr />
        <p class="price_p">
          Сонячна електростанція для покриття власного споживання забезпечує
          виробничі потреби підприємства чи установи протягом світлового дня. У
          випадку, коли власної сонячної енергії недостатньо, різниця
          автоматично береться з централізованої енергомережі. Основний
          економічний ефект виникає з заощаджень коштів, що не були витрачені на
          придбання електрики від енергопостачальної компанії. Стратегічні
          переваги такої станції: Зменшення собівартості продукту, Збільшення
          вартості активів бізнесу, Підвищення екологічної складової продукції
        </p>
        <div class="row">
          <div class="col-5">
            <h6>
              Резервна або автономна система живлення будинку або квартири
              необхідна власнику для:
            </h6>
            <ul>
              <li>комфорту;</li>
              <li>безпеки проживання та роботи.</li>
            </ul>
          </div>
          <div class="col-7 price_middle">
            <div class="row">
              <div class="col-5 price_middle_discount">
                <div class="row">
                  <img src="{{STATIC_PREFIX}}img/img/wallet.png" alt="" />
                  <h4>10% ЗНИЖКИ</h4>
                </div>
              </div>
              <div class="col-7 price_middle_text p-0">
                <p class="price_p">
                  Додаткова знижка при реєстрації через наш сайт
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid bg-energy_bottom">
    <div class="container energy_bottom">
      <h2>Ми бачимо реальне її застосування у випадку:</h2>
      <div class="row">
        <div class="col-2 offset-2">
          <img src="{{STATIC_PREFIX}}img/img/three_1.png" alt="" />
          <p>частого вимкнення електрики;</p>
        </div>
        <div class="col-2 offset-1">
          <img src="{{STATIC_PREFIX}}img/img/three_2.png" alt="" />
          <p>неякісної енергомережі;</p>
        </div>
        <div class="col-4">
          <img src="{{STATIC_PREFIX}}img/img/three_3.png" alt="" />
          <p>
            повної відсутності та неможливості отримання електрики від загальної
            енергомережі.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid bg_form">
    <div class="container form">
      <div class="col-10 offset-2">
        <div class="row">
          <div class="col-7">
            <h2 class="form_h2">
              Заповніть форму для прорахунку вартості пропозиції!
            </h2>
            <hr />
            <p>
              Ви можете замовити індивідуальний розрахунок з оптимально
              необхідними потужностями
            </p>
          </div>
          <div class="col-5 p-0 form_">
            <h3>Залиште, будь ласка, свої контакти!</h3>
            <hr class="form_hr" />
            <input type="text" class="input" placeholder="Ваше ім’я" />
            <input type="text" class="input" placeholder="Ваш телефон" />
            <input type="text" class="input" placeholder="Ваш E-mail" />
            <input type="text" class="input" placeholder="Споживання. кВт" />
            <button class="btn-danger">отправить</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid bg-three_text">
    <div class="container three_text">
      <h2>Складові резервної системи:</h2>
      <p class="price_p">
        <span>Акумуляторні батареї.</span> Акумулятори дають постійний струм, що
        переробляється інвертором у змінний. Скільки енергії буде «заховано» а
        акумуляторах – залежить від того, яке споживання буде запущено через них
        у випадку вимкнення електрики. Наприклад, акумулятор 12 вольт на 200
        ампер має 12*200 = 2,4 кВт електрики. Залежно від виду АКБ ми можемо
        розраховувати на 50-60% його «енергетичного запасу» – в даному випадку
        на 1,5-1,2 кВт. До прикладу – бойлер на 80 л споживає 1,5 кВт на годину,
        LED лампа – 18 Вт на годину. Отже можна чітко розрахувати який резерв ми
        закладемо в акумулятори. Вартість акумуляторів – від 120 дол за 12 вольт
        100 ампер годин.<br /><br />

        <span>Блок безперебійного живлення або інвертор.</span> Він перетворює
        постійний струм у змінний та у більшості випадків відповідає за контроль
        заряду АКБ. Може має різноманітну потужність залежно від потреб
        споживання – від 150 Вт до 10 кВт. Важливо щоб інвертор мав вбудований
        контролер заряду, можливість приймати енергію не лише від мережі
        змінного струму але і від сонця, генератора, вітряка і т.д. Інвертор
        може мати ШИМ або МРРТ контролер заряду, не буду вдаватися у подробиці –
        скажу що МРРТ краще і дорожче. Інвертор має досить багато налаштувань і
        широкий спектр можливостей використання. Вартість інвертора від 200
        доларів, проте є і набагато дорожчі моделі.<br />
        Тепер поговоримо, про те чим можна заряджати акумулятори:<br /><br />

        <span>Просто від мережі</span> – в такому випадку ми просто маємо резерв
        на випадок вимкнення електрики – зазвичай вистачає 4-8 годин.<br /><br />

        <span>Дизель або бензогенератор</span> – може видавати достатню
        потужність, проте витрати пального та мастила дуже суттєві – орієнтовно
        втричі дорожче аніж користування загальною електромережею. Ціна – від
        600 дол. за 3-5 кВт модель.<br /><br />

        <span>Від сонячної енергії</span> – очевидними є переваги того, що
        електрика приходить не від загальної мережі і таким чином досягається
        головна мета – автономність та можливість економії електрики. Для
        потрібна незатінена площа, що розташована якнайкраще на південь. Для
        забезпечення невеликого будинку із помірним споживанням 100-300 квт на
        місяць можна досягнути ефекту у 70-90 % енергонезалежності. Чому саме
        так – дуже важко опалювати будинок взимку з допомогою лише акумуляторів
        та сонячних панелей в умовах географічного розташування України. Ціна –
        залежно від кількості панелей, в середньому потрібно ставити не менше
        6-ти панелей, ціна з кріпленнями біля 1000 дол. У випадку відсутності
        електромережі, сонячні батареї можуть забезпечити електроенергією
        наайбільш необхідні електроприлади: світлодіодний прожектор потужністю
        до 20 Вт з датчиком руху, кілька лампочок в будинку по 5-7 Вт протягом
        вечірнього часу, невеликий холодильник (до 125 Вт), телевізор, ноутбук,
        супутникову антенну. Такий комплект буде корисним і для освітлення
        віддалених об`єктів, кіосків, магазинів, кемпінгів, для освітлення
        місцевості в разі відсутності мережі. Може задовольнити всі
        найнеобхідніші потреби для енергозабезпеченн дачі в період з березня по
        жовтень і потреби освітлення в зимовий час.<br /><br />

        <span>Від вітрової енергії</span> – електрика знову ж таки приходить не
        від загальної мережі, але на відміну від сонячних батарей вітряк
        потребує монтажу конструкції та ретельного вибору місця і висоти
        розміщення, що буває зробити дорого та складно. За вітряк із металевою
        конструкцією потужністю 1-1,5 кВт потрібно заплатити від 1500
        доларів.<br /><br />

        <span
          >Таким чином вартість електричної резервності або автономності
          становитиме від 1000 дол. Ви можете спробувати зробити таку систему
          самостійно, проте довірте розрахунок та монтаж системи нам, як
          професіоналам, надавши максимально повну і чітку інформацію про Ваші
          проблемні питання і опишіть ваші вимоги – це зекономить Ваш час та
          гроші.</span
        >
      </p>
    </div>
  </div>
</div>
{% endblock %}
