{% extends 'base.html' %} {% load static %} {% block content %}
<main>
  <div class="container-fluid green">
    <div class="container">
      <div class="head col-12">
        <h1>Що таке "Зелений" тариф?</h1>
        <hr />
        <p id="head_p">
          «Зелений» тариф – це державна програма, яка стимулює розвиток
          відновлювальних джерел енергії. Держава зобов'язується купувати
          згенеровану електроенергію у власників відновлювальних джерел енергії
          за фіксованою сумою.
        </p>
        <p id="main_p">
          Зі зростанням цін на електроенергію, в Україні все частіше звертають
          увагу на альтернативні джерела енергії. І сонячні електростанції один
          з таких шляхів виходу із ситуації. Через високу ціну, більшість
          потенційних покупців відкладали покупку, але у 2015 році держава
          створила можливість для виробників сонячної енергії компенсувати
          витрати на сонячні батареї та почати отримувати дохід навіть власникам
          домогосподарств. Так з'явився «зелений» тариф.
        </p>

        <p id="main_p">
          Це спеціальний, але більш високий тариф, за яким держава закуповує
          електроенергію у власників домашніх і комерційних електростанцій.
          Держава використовує цю програму для стимулювання інвестування в
          альтернативні технології. Варто відзначити, що держава зобов'язана
          купувати надлишки виробленої електроенергії в кілька разів дорожче
          тарифів споживаної, що істотно швидше дозволяє прискорити окупність
          сонячної електростанції (СЕС). Чим потужніше електростанція, тим вищий
          дохід ви отримаєте від сонячних батарей. А для того, щоб точно
          розрахувати окупність СЕС, на офіційному сайті SUNSAY Energy є зручний
          онлайн-калькулятор, який дозволить вам побачити потенційну
          прибутковість сонячних панелей. В середньому, менше, ніж за шість
          років ви повністю компенсуєте вартість сонячних батарей і будете
          отримувати чистий дохід.
        </p>
      </div>
    </div>
  </div>
  <div class="container-fluid bg-stages">
    <div class="container"><div class="row">
      <div class="col-12">
        <h2>Етапи оформлення</h2>
      </div>
      </div>
        <div class="col-12 stages">
          <div class="col-2 stage">
            <img src="{{STATIC_PREFIX}}img/green_tarif/first.png" />
            <p class="top">Встановлення двонаправленого лічильника</p>
            <p class="bottom">Монтаж лічильника та встановлення вузла обліку електроенергії</p>
          </div>
          <div class="col-2 stage">
            <img src="{{STATIC_PREFIX}}img/green_tarif/second.png" />
            <p class="top">Відкриття рахунку у банку</p>
        <p class="bottom"> У будь-якому банку відкривається рахунок для отримання розрахунку по «зеленому» тарифу</p>
          </div>
          <div class="col-2 stage">
            <img src="{{STATIC_PREFIX}}img/green_tarif/third.png" />
            <p class="top">Подання заяви</p>
        <p class="bottom">Після встановлення сонячної електростанції подається заява разом зі схемою підключення СЕС в енергетичну компанію</p>
          </div>
          <div class="col-2 stage">
            <img src="{{STATIC_PREFIX}}img/green_tarif/fourth.png" />
            <p class="top">Договір з постачальником електроенергії</p>
        <p class="bottom">Підписання угоди про продаж електроенергії</p>
          </div>
          <div class="col-2 stage">
            <img src="{{STATIC_PREFIX}}img/green_tarif/fifth.png" />
            <p class="top">«Зелений» тариф</p>
        <p class="bottom">Нарахування коштів за продаж електроенергії, що направляється в загальну мережу</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid info">
      <div class="container">
          <div class="row">
              <div class="col-5">
                  <img src="{{STATIC_PREFIX}}img/about/work_copy.png">
              </div>
              <div class="col-6 offset-1">
                  <p>Приватні домогосподарства зможуть встановлювати СЕС, потужність яких не перевищує 30 кВт, а власники бізнесу можуть встановлювати станції будь-якої потужності. Але варто враховувати той факт, що станції, потужністю понад 150 кВт повинні отримати ліцензію постачальника електроенергії.</p>

                    <p>Якщо розглядати прибутковість СЕС з точки зору стабільності, то попри те, що продуктивність сонячних панелей залежить від погодних умов і тривалості світлового дня, такий заробіток все одно є стійким, адже він прив'язаний до курсу євро і гарантований державою. А високу прибутковість забезпечує сама СЕС: станція служить до 25 років і не вимагає дорогого обслуговування. Тому, оформивши «зелений» тариф, ви зможете мінімум до 2030 продавати електроенергію за високою ціною.</p>
              </div>
          </div>
        </div>
    </div>
    <div class="container-fluid bg_form">
        <div class="container form">
            <div class="col-10 offset-2">
                <div class="row">
                    <div class="col-7">
                        <h2 class="form_h2">Заповніть форму для
                        прорахунку вартості пропозиції!</h2>
                        <hr>
                        <p>Ви можете замовити індивідуальний розрахунок з оптимально необхідними потужностями</p>
                    </div>
                    <div class="col-5 p-0 form_">
                        <h3>Залиште, будь ласка,
                            свої контакти!</h3>
                        <hr class="form_hr">
                        <input type="text" class="input " placeholder="Ваше ім’я">
                        <input type="text" class="input " placeholder="Ваш телефон">
                        <input type="text" class="input " placeholder="Ваш E-mail">
                        <input type="text" class="input " placeholder="Споживання. кВт">
                        <button class="btn-danger">Надіслати</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid discount">
        <div class="container">
            <div class="green_tarif">
<h2>Що таке «зелений» тариф на електроенергію?</h2>
<p>Зі зростанням цін на електроенергію, в Україні все частіше звертають увагу на альтернативні джерела енергії. І сонячні електростанції один з таких шляхів виходу із ситуації. Через високу ціну, більшість потенційних покупців відкладали покупку, але у 2015 році держава створила можливість для виробників сонячної енергії компенсувати витрати на сонячні батареї та почати отримувати дохід навіть власникам домогосподарств. Так з'явився «зелений» тариф.</p>
<p>Це спеціальний, але більш високий тариф, за яким держава закуповує електроенергію у власників домашніх і комерційних електростанцій. Держава використовує цю програму для стимулювання інвестування в альтернативні технології. Варто відзначити, що держава зобов'язана купувати надлишки виробленої електроенергії в кілька разів дорожче тарифів споживаної, що істотно швидше дозволяє прискорити окупність сонячної електростанції (СЕС). Чим потужніше електростанція, тим вищий дохід ви отримаєте від сонячних батарей. А для того, щоб точно розрахувати окупність СЕС, на офіційному сайті SUNSAY Energy є зручний онлайн-калькулятор, який дозволить вам побачити потенційну прибутковість сонячних панелей. В середньому, менше, ніж за шість років ви повністю компенсуєте вартість сонячних батарей і будете отримувати чистий дохід.
    
    Приватні домогосподарства зможуть встановлювати СЕС, потужність яких не перевищує 30 кВт, а власники бізнесу можуть встановлювати станції будь-якої потужності. Але варто враховувати той факт, що станції, потужністю понад 150 кВт повинні отримати ліцензію постачальника електроенергії.
    
    Якщо розглядати прибутковість СЕС з точки зору стабільності, то попри те, що продуктивність сонячних панелей залежить від погодних умов і тривалості світлового дня, такий заробіток все одно є стійким, адже він прив'язаний до курсу євро і гарантований державою. А високу прибутковість забезпечує сама СЕС: станція служить до 25 років і не вимагає дорогого обслуговування. Тому, оформивши «зелений» тариф, ви зможете мінімум до 2030 продавати електроенергію за високою ціною.</p>
        </div>
        <div class="row">
            <div class="col-5">
                <h6>ЯКА СТАВКА «ЗЕЛЕНОГО» ТАРИФУ?</h6>
                <ul>
                    <li>0,16 євроцентів / 1кВт/год З 1.01. 2020 по 31.12.2024;</li>
                    <li>0,14 євроцентів / 1кВт/год  З 1.01. 2025 по 31.12.2029.</li>
                </ul>
            </div>
            <div class="col-7 price_middle">
                <div class="row">
                    <div class="col-5 price_middle_discount">
                        <div class="row">
                                <img src="{{STATIC_PREFIX}}img/img/wallet.png" alt="">
                                <h4>10% ЗНИЖКИ</h4>
                        </div>
                    </div>
                    <div class="col-7 price_middle_text p-0">
                        <p class="price_p">Додаткова знижка при реєстрації через наш сайт</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</main>
{% endblock %}