{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'partials/_header.html' %}
<main class="main">
    <div class="container-fluid bg_profit_main">
        <!-- <img class="bg_profit_main_decor" src="../img/decor.png"> -->
<div class="container ">
    <div class="col-12 profit_main">
        <div class="col-10 offset-1">
            <h2>Сонячна електростанція для економії та заробітку</h2>
            <p class="white-background">Це мережева сонячна станція, яка використовується для власного споживання електроенергії та її продажу державі за «зеленим» тарифом. Станція не містить акумуляторів і працює при підключенні до загальної електромережі.</p>
        </div>
        <div class="col-10 offset-1 menu">
            <div class="row main_prof">
                <div><a href="{% url 'ses' %}"><img src="{% static 'img/img/profit1.png' %}" alt=""><h3>СЕС для бізнесу</h3></a></div>
                <div><a href="{% url 'green_tarif' %}"><img src="{% static 'img/img/profit2.png' %}" alt=""><h3>Зелений тариф</h3></a></div>
                <div><a href="{% url 'energy' %}"><img src="{% static 'img/img/profit3.png' %}" alt=""><h3>Енерго<wbr>незалежність</h3></a></div>
            </div>
        </div>
    </div>
    <div class="info_main col-12 pl-0 pr-0">
        {% include 'partials/_alerts.html' %}
        <p class="info_main_p ">Компанія «Global Solar» працює на ринку України з 2016 року. Створення підприємства було викликане змінами в енергетичних системах, оскільки в останній час спостерігається активний перехід великої кількості розвинених країн до використання відновлюваних джерел електроенергії, а енергетична незалежність набуває пріоритетного вектору розвитку безпеки держави. У співробітників компанії є достатнє розуміння того, що тільки інформаційними розповідями про ефективність «зелених технологій» не можна добитись швидкого переобладнання житла, комунальних та інших споруд наших співгромадян.<br/><br/>

        Місією компанії Solar System є зміна ставлення суспільства до використання енергоносіїв,            запровадження консультативної, експертної та суспільної платформ з питань енергоефективності,       переходу до управління енергогосподарствами в режим роботи «СМАРТ», трансформація енергомоделі          зі споживчої до генеруючої.</p>
    </div>
</div>
</div>
    <div class="container-fluid">
        <div class="container"></div>
    </div>
    <div class="container-fluid bg_benefits_main">
        <div class="container benefits_main">
            <div class="row">
               

                <div class="col-12 col-md-5 col-lg-4">
                    <img src="{% static 'img/img/foto.png' %}" alt="halo">
                </div>
                <div class="col-12 col-md-7 col-lg-7 offset-lg-1">
                    <h2>Чому варто обрати саме нас для побудови сонячної електростанції?</h2>
                    <p class="white-background">Спираючись на успішний досвід реалізації понад 100 проектів в сфері
                        альтернативної енергетики, за останні 5 років, для кожного нашого клієнта ми
                        гарантуємо:<br /><br />

                        розробка кожного проекту здійснюється професійним інженером з використанням спеціалізованих
                        програм PVSyst, FroniusSolarConfigurator, що дає можливість на підготовчому етапі спрогнозувати,
                        з яким результатом буде працювати СЕС та скільки принесе доходу.
                        монтаж сонячних панелей виконується спеціалістами покрівельниками, які досконало розуміються на
                        всіх конструктивних тонкощах висотних та покрівельних робіт, з реальним портфоліо понад 400
                        об’єктів. Відповідно ми надаємо повну гарантію терміном 2 роки на всі будівельно-монтажні
                        роботи.</p>
                    <form action="/about_us/">
                        <button class="btn-danger">Читати більше</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg_need_main">
        <div class="container need_main">
            <div class="col-12">
                <div class="col-10 offset-1 need_main_text">
                    <h2>Чому вам потрібна сонячна електростанція?</h2>
                    <hr />
                    <p>Гарантом сохранности и безопасности инвестиций являются постоянно расширяющиеся пулы и
                        наращивание вычислительных мощностей криптовалютных "ферм" Global Smart Mining.</p>
                </div>
                <div class="col-12 evidence_need_main">
                    <div class="row">
                        <div class="col-md-6 col-lg-3">
                            <img src="{% static 'img/img/1.png' %}" alt="">
                            <p>Гарантована ціна на електричну енергію на наступні 25 років за ціною 0,80 грн. кВт*год
                            </p>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <img src="{% static 'img/img/2.png' %}" alt="">
                            <p>Інвестиція в активи власного підприємства</p>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <img src="{% static 'img/img/3.png' %}" alt="">
                            <p>Невичерпне та екологічне джерело енергії</p>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <img src="{% static 'img/img/4.png' %}" alt="">
                            <p>Гарантійний термін роботи обладнання 25 років</p>
                        </div>
                    </div>
                </div>
                <form action="/prices/">
                    <button class="btn-danger tarifs">Тарифи</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-advantages">
        <!-- <img class="bg-advantages_decor" src="../img/decor.png"> -->
        <div class="container advantages">
            <div class="col-12">
                <h2>Наші переваги</h2>
                <div class="row advantages_row_one">
                    <div class="col-12 offset-md-1  col-md-5 offset-lg-1  col-lg-5 p-0">
                        <img src="{% static 'img/img/01.png' %}" alt="">
                        <h3>Розробка проекту "під ключ"<span>01</span></h3>
                        <p>Комплексний підхід дає відповіді на питання: скільки буде коштувати обладнання, який дохід
                            принесе СЕС, 3D макет всіх конструктивних елементів, розрахунок всіх поточних витрат
                            пов'язаних з реалізацією проекту</p>
                    </div>
                    <div class="col-12 offset-md-1  col-md-5 col-lg-5 offset-lg-1 p-0">
                        <img src="{% static 'img/img/02.png' %}" alt="">
                        <h3>Технічна підтримка 24/7/365<span>02</span></h3>
                        <p>Інженери компанії пройшли спеціалізоване навчання від провідних світових виробників - Fronius
                            та Huawei, це дозволяє вирішувати нестандартну ситуацію в роботі обладнання терміном до 48
                            годин</p>
                    </div>
                </div>
                <div class="row  p-0">
                    <div class="col-12 offset-md-1  col-md-5 offset-lg-1 col-lg-5">
                        <img src="{% static 'img/img/03.png' %}" alt="">
                        <h3>Он-лайн моніторинг<span>03</span></h3>
                        <p>Постійно відслідковуючи роботу всіх СЕС, що підключені до інтернету, ми контролюємо
                            надійність та продуктивність роботи встановленого обладнання у форматі 24/7, з гарантією на
                            виконані роботи 2 роки</p>
                    </div>
                    <div class="col-12 offset-md-1  col-md-5 col-lg-5 offset-lg-1 p-0">
                        <img src="{% static 'img/img/04.png' %}" alt="">
                        <h3>Сертифіковане обладнання<span>04</span></h3>
                        <p>Використовуючи лише сертифіковане обладанання та комплектуючі провідних світових виробників,
                            ми надаємо 2 роки гарантії на виконані монтажні роботи та повну гарантію від заводу
                            виробника</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="container-fluid bg_form">
        <!-- <img class="bg_form_decor" src="../img/decor.png"> -->
        <div class="container form">
            <div class="col-10 offset-1">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-7">
                        <h2 class="form_h2">Заповніть форму для
                            прорахунку вартості пропозиції!</h2>
                        <hr>
                        <p class="">Ви можете замовити індивідуальний розрахунок з оптимально необхідними потужностями
                        </p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-5 p-0 form_">
                        <h3>Залиште, будь ласка,
                            свої контакти!</h3>
                        <hr class="form_hr">
                        <form action="{% url 'index' %}" method="POST">
                            {% csrf_token %}
                        <input type="text" class="input " name="name" placeholder="Ваше ім’я">
                        <input type="text" class="input " name='phone' placeholder="Ваш телефон">
                        <input type="text" class="input " name='email' placeholder="Ваш E-mail">
                        <input type="text" class="input " name='volts' placeholder="Споживання. кВт">
                        
                        <button type='submit' class="btn-danger">Відправити</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-price">
        <!-- <img class="bg-price_decor_1" src="../img/decor.png">
        <img class="bg-price_decor_2" src="../img/decor.png"> -->
        <div class="container price">
            <div class="col-12 price_top">
                <h2>Популярні комплекти обладнання</h2>
                <hr>
                <p class="white-background">В нашому інтернет-магазині ви можете придбати якісне обладнання провідних
                    світових брендів за приємними цінами: сонячні панелі, інвертори та готові рішення. А ще ми любимо
                    свою справу, чудово знаємось на ній і можемо задовольнити вимоги найвибагливішого клієнта.</p>
            </div>

            <div class="col-12 ">
                <div class="col-8 offset-2 price_middle">
                    <div class="row">
                        <div class="col-5 price_middle_discount">
                            <div class="row">
                                <img src="{% static 'img/img/wallet.png' %}" alt="">
                                <h4>10% ЗНИЖКИ</h4>
                            </div>
                        </div>
                        <div class="col-7 price_middle_text">
                            <p>Додаткова знижка при реєстрації через наш сайт</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-12 price_bottom">
                <div class="row">
                    <div class="col-12 col-md-4 col-lg-4  ">
                        <div class="price_black">
                            <div class="col-12 price_black_top p-0">
                                <h2>Станція 5квт</h2>
                            </div>
                            <p class="price_price">5 000$</p>
                            <hr class="price_hr_top">
                            <p class="price_text">Загальна потужність СЕС - 5100 Ват<br /><br />
                                Кількість батарей - 16<br /><br />
                                Мін. площа розміщення на даху - 27<br /><br />
                                Орієнтовний дохід в рік (грн) - 23600<br /><br />
                                Гарантійний строк експлуатації - 15 років></p>
                            <hr class="price_hr_bottom">
                            <button class="btn-outline-danger">Замовити</button>
                        </div>
                    </div>


                    <div class="col-12 col-md-4 col-lg-4  ">
                        <div class="price_orange">
                            <div class="col-12 price_black_top p-0">
                                <h2>Станція 15квт</h2>
                            </div>
                            <p class="price_price">11 000$</p>
                            <hr class="price_hr_top">
                            <p class="price_text">Загальна потужність СЕС - 15200 Ват<br /><br />
                                Кількість батарей - 46<br /><br />
                                Мін. площа розміщення на даху - 78<br /><br />
                                Орієнтовний дохід в рік (грн) - 70300<br /><br />
                                Гарантійний строк експлуатації - 15 років></p>
                            <hr class="price_hr_bottom">
                            <button class="btn-danger">Замовити</button>
                        </div>
                    </div>


                    <div class="col-12 col-md-4 col-lg-4  ">
                        <div class="price_black">
                            <div class="col-12 price_black_top p-0">
                                <h2>Станція 30квт</h2>
                            </div>
                            <p class="price_price">19 000$</p>
                            <hr class="price_hr_top">
                            <p class="price_text">Загальна потужність СЕС - 30400 Ват<br /><br />
                                Кількість батарей - 92<br /><br />
                                Мін. площа розміщення на даху - 156<br /><br />
                                Орієнтовний дохід в рік (грн) - 140500<br /><br />
                                Гарантійний строк експлуатації - 15 років></p>
                            <hr class="price_hr_bottom">
                            <button class="btn-outline-danger ">Замовити</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}