{% extends 'base.html' %} {% load static %} {% block content %}
<main>
  <div class="container-fluid one">
    <div class="container">
      <div class="img col-12">
        <h1>СЕС 30 кВт під Зелений тариф, Копилля – Маневичі, Луцьк, 2019</h1>
        <img src="{{STATIC_PREFIX}}img/our_works/SES_Manevychy_30kwp.jpg" />
      </div>
      <div class="row">
        <div class="col-xl-5 col-md-5 offset-md-1 my-md-4">
          <ul class="green_disc panels_param">
            <li>BISOL BXU 365 Вт, 90 шт.</li>
            <li>30 кВт</li>
          </ul>
        </div>
        <div class="col-xl-5 col-md-5 offset-md-1 my-md-4">
          <ul class="green_disc panels_param">
            <li>Липень 2019</li>
            <li>
              с.Копилля, Маневицький район, Волинська область, Луцьк, 2019
            </li>
          </ul>
        </div>
      </div>
      <form class="col-xl-2 col-md-2 offset-5">
        <button class="btn btn-danger">Хочу таку станцію</button>
      </form>
    </div>
  </div>
</main>
{% endblock %}
