<main>
  <div class="container-fluid bg-our_work">
    <div class="container">
      <div class="head col-12">
        <h1>Наші роботи</h1>
        <hr />
      </div>
      <div class="one-work row">
        <div class="col-6 work_img">
          <a href="../one_work.html">
            <div class="green_triangle">
              <span>30 кВт</span>
            </div>
            <img
              width="510"
              height="320"
              src="../img/our_works/SES_Manevychy_30kwp.jpg"
            />
          </a>
        </div>
        <div class="col-6 descr">
          <a class="title-news-blog" href="../one_work.html"
            >СЕС 30 кВт під Зелений тариф, Копилля – Маневичі, Луцьк, 2019</a
          >
          <ul class="green_disc panels_param">
            <li>BISOL BXU 365 Вт, 90 шт.</li>
            <li>30 кВт</li>
            <li>Липень 2019</li>
            <li>
              с.Копилля, Маневицький район, Волинська область, Луцьк, 2019
            </li>
          </ul>

          <form action="../one_work.html">
            <button class="btn btn-danger">ЧИТАТИ БІЛЬШЕ</button>
          </form>
        </div>
      </div>
      <div class="one-work row">
        <div class="col-6 work_img">
          <a href="#">
            <div class="green_triangle">
              <span>20 кВт</span>
            </div>
            <img
              width="510"
              height="320"
              src="../img/our_works/SES_30kvt_Zelenyi_tarif_Barmaky_Karasi.jpg"
            />
          </a>
        </div>
        <div class="col-6 descr">
          <a class="title-news-blog" href="#"
            >СЕС 20 кВт під Зелений тариф, Бармаки, Рівне, 2019</a
          >
          <ul class="green_disc panels_param">
            <li><strong>BISOL BMO 365</strong> Вт, 60 шт.</li>
            <li>20 кВт</li>
            <li>Червень 2019</li>
            <li>Бармаки, Рівне, 2019</li>
          </ul>
          <form action="#">
            <button class="btn btn-danger">ЧИТАТИ БІЛЬШЕ</button>
          </form>
        </div>
      </div>
      <div class="one-work row">
        <div class="col-6 work_img">
          <a href="#">
            <div class="green_triangle">
              <span>7,5 кВт</span>
            </div>
            <img
              width="510"
              height="320"
              src="../img/our_works/7kvt_zeleniy_tariff_rivne-1.jpg"
            />
          </a>
        </div>
        <div class="col-6 descr">
          <a class="title-news-blog" href="#"
            >Зелений тариф 7.5кВт. Сонячна електростанція Рівне</a
          >
          <ul class="green_disc panels_param">
            <li><strong>Сонячні панелі AbiSolar</strong> 260Вт, 30 шт</li>
            <li>7,5 кВт</li>
            <li>2017 рік</li>
            <li>Рівне, Рівненська область</li>
          </ul>
          <form action="#">
            <button class="btn btn-danger">ЧИТАТИ БІЛЬШЕ</button>
          </form>
        </div>
      </div>
      <div class="row" id="pagin">
        <div class="col-12">
          <nav
            class="navigation pagination"
            role="navigation"
            aria-label="Навігація записів"
          >
            <h2 class="screen-reader-text">Навігація записів</h2>
            <div class="nav-links">
              <a class="page-numbers" href="#">1</a>
              <a class="page-numbers" href="#">2</a>
              <a class="page-numbers" href="#">3</a>
              <a class="page-numbers" href="#">4</a>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</main>
