{% extends 'base.html' %} {% load static %} {% block content %}
<main>
  <div class="container-fluid bg-our_work">
    <div class="container">
      <div class="head col-12">
        <h1>Наші роботи</h1>
        <hr />
      </div>
      {% for work in our_works %}
      <div class="one-work row">
        <div class="col-6 work_img">
          <a href="{% url 'work' work.id %}">
            <div class="green_triangle">
              <span>{{work.voltage}} кВт</span>
            </div>
            <img width="510" height="320" src="{{work.photo_0.url}}" />
          </a>
        </div>
        <div class="col-6 descr">
          <a class="title-news-blog" href="{% url 'work' work.id %}"
            >{{work.title}}</a
          >
          <ul class="green_disc panels_param">
            <li>{{work.product_type}}, {{work.amount}} шт.</li>
            <li>{{work.voltage}} кВт</li>
            <li>{{work.list_date}}</li>
            <li>{{work.address}}</li>
          </ul>

          <div class="btn">
            <a href="{% url 'work' work.id %}" class="btn btn-danger"
              >ЧИТАТИ БІЛЬШЕ</a
            >
          </div>
        </div>
      </div>
      {% endfor %}

      <div class="row" id="pagin">
        <div class="col-12">
          <nav
            class="navigation pagination"
            role="navigation"
            aria-label="Навігація записів"
          >
            <h2 class="screen-reader-text">Навігація записів</h2>
            <div class="nav-links">
              <a class="page-numbers" href="?page=1">1</a>
              <a class="page-numbers" href="?page=2">2</a>
              <a class="page-numbers" href="?page=3">3</a>
              <a class="page-numbers" href="?page=4">4</a>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
