<div class="prices">
  <div class="container-fluid bg_profit_main">
    <div class="container">
      <div class="col-12 profit_main">
        <div class="col-10 offset-1">
          <h2>Послуги і ціни</h2>
          <hr />
          <p class="price_p">
            Зелений тариф стимулював зростання кількості приватних сонячних
            електростанцій. А 2018-2019 стали вибуховим в галузі відновлюваної
            енергетики. Якщо у 2014 році в Україні було лише 20 сонячних
            електростанцій на дахах приватних будинків, то сьогодні їх
            налічується понад 10 тисяч. З них майже 4,5 тисячі з’явилися у 2018
            році та понад 1,5 тис. з початку 2019 року. Як показує статистика,
            попит на СЕС приватних домогосподарств не просто існує, він зростає
            шаленими темпами.
          </p>
        </div>
        <div class="col-10 offset-1">
          <div class="row main_prof menu">
            <div>
              <a href="#"
                ><img src="../img/img/profit1.png" alt="" />
                <h3>СЕС для бізнесу</h3></a
              >
            </div>
            <div>
              <a href="../green_tarif.html"
                ><img src="../img/img/profit2.png" alt="" />
                <h3>Зелений тариф</h3></a
              >
            </div>
            <div>
              <a href="../energy.html"
                ><img src="../img/img/profit3.png" alt="" />
                <h3>Енергонезалежність</h3></a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="info_main col-12 pl-0 pr-0">
        <h2 class="info_main_h3">Попередній аналіз та проектування СЕС</h2>
        <div class="row">
          <div class="col-7">
            <p class="info_main_p price_p">
              <span>Попередній аналіз</span> – важлива складова процесу
              будівництва сонячних електростанцій, яка дає розуміння в яких
              початкових умовах знаходиться даний проект та доцільність
              будівництва СЕС в цілому.
            </p>
            <h5 class="info_main_h4">Дана стадія включає також:</h5>
            <ul class="info_main_ul">
              <li>
                Виїзд інженера на об’єкт для зняття замірів та оцінки об’єкту
                “на місці”;
              </li>
              <li>Аналіз поточного стану документальної частини;</li>
              <li>Консультація з технічних та юридичних питань;</li>
              <li>
                Рекомендації щодо підготовки об’єкту та документів до
                будівництва СЕС;
              </li>
            </ul>
          </div>
          <div class="col-5">
            <img src="../img/img/price_1.jpg" alt="" />
          </div>
        </div>
        <div class="col-12 p-0 info_center">
          <h2 class="info_center_h3">Поставка обладнання та монтаж</h2>
          <h5>Поставка обладнання</h5>
          <p class="price_p">
            Наші поставки включають лише якісне обладнання, на яке
            розповсюджується гарантія виробника.<br /><br />

            Компанія SmartEco працює лише з тими виробниками, які виконують
            гарантійні зобов’язання та контролюють процес виробництва.
            Надійність такого обладнання стає запорукою впевненості в ефективній
            роботі вашої СЕС.<br /><br />

            Ми пропонуємо широкий спектр тільки якісного обладнання провідних
            виробників Європи та Китаю. Прямі контракти з виробниками дозволяють
            надавати нижчі ціни на європейські панелі, та отримувати 15 років
            персональної гарантії.<br /><br />
          </p>
          <h5>Монтаж та запуск в експлуатацію</h5>
          <p class="price_p">
            Професіоналізм означає якісне виконання роботи та відповідальне
            ставлення до результатів. Наші інженери мають відповідні сертифікати
            заводів-виробників, які засвідчують їх високий кваліфікаційний
            рівень!<br />
            Компанія SmartEco надає гарантію на монтажні та пусконалагоджувальні
            роботи.
          </p>
        </div>
        <div class="row montag">
          <div class="col-5">
            <img src="../img/img/Rectangle-1-copy-2.jpg" alt="" />
          </div>
          <div class="col-7">
            <h5>Монтажні та пуско-налагоджувальні роботи включають також:</h5>
            <ul>
              <li>
                Монтаж наземних (або дахових) конструкцій та споруд дял
                розміщення системи кріплення сонячних панелей;
              </li>
              <li>Монтаж та комутація сонячних панелей;</li>
              <li>
                Прокладання кабельних трас та монтаж автоматики захисту (AC/DC);
              </li>
              <li>Монтаж, комутація та налаштування інверторів;</li>
              <li>Пуско-налагоджувальні роботи;</li>
              <li>
                Підготовка необхідного пакету документів (в разі необхідності,
                зелений тариф); Віддалений моніторинг СЕС;
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid bg_form">
    <div class="container form">
      <div class="col-10 offset-2">
        <div class="row">
          <div class="col-7">
            <h2 class="form_h2">
              Заповніть форму для прорахунку вартості пропозиції!
            </h2>
            <hr />
            <p>
              Ви можете замовити індивідуальний розрахунок з оптимально
              необхідними потужностями
            </p>
          </div>
          <div class="col-5 p-0 form_">
            <h3>Залиште, будь ласка, свої контакти!</h3>
            <hr class="form_hr" />
            <input type="text" class="input" placeholder="Ваше ім’я" />
            <input type="text" class="input" placeholder="Ваш телефон" />
            <input type="text" class="input" placeholder="Ваш E-mail" />
            <input type="text" class="input" placeholder="Споживання. кВт" />
            <button class="btn-danger">отправить</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid bg-guarantee">
    <div class="container gurantee">
      <h2>
        Сервісне<br />
        обслуговування сонячних електростанцій
      </h2>
      <p class="price_p">
        Сервісне обслуговування СЕС кваліфікованим персоналом згідно регламенту
        допоможе підтримувати обладнання в справному стані. Ми пропонуємо нашим
        клієнтам пакетні рішення сервісного обслуговування сонячної
        електростанції або надаємо послуги «за запитом».
      </p>
      <div class="row">
        <div class="col-6 gurantee_info">
          <h6>
            Сервісне обслуговування сонячних електростанцій ― це ще одна послуга
            компанії SmartEco, яка включає наступний перелік:
          </h6>
          <ul>
            <li>Моніторинг показників роботи електростанцій;</li>
            <li>
              Аналіз ефективності та діагностика роботи сонячних електростанцій;
            </li>
            <li>Чистка модулів;</li>
            <li>
              Виявлення критичних невідповідностей у функціонуванні сонячної
              електростанції;
            </li>
            <li>
              Рекомендації щодо підвищення продуктивності роботи електростанції;
            </li>
            <li>Усунення недоліків “попередників”;</li>
            <li>Оптимізація роботи електростанції;</li>
            <li>Подальший супровід на протязі всього робочого циклу СЕС;</li>
          </ul>
        </div>
        <div class="col-5 offset-1">
          <img src="../img/img/Rectangle-1-copy-3.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
