{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container-fluid bg-product">
  <div class="container product">
    <div class="col-12 product_head">
      <h2>СЕС 500кВт під власне споживання</h2>
    </div>
    <div class="row">
      <div class="col-6 product_img">
        <img class="product_img_0" src="" alt="" />
        <div class="row">
          <img class="product_img_1 product_img_" src="" alt="" />
          <img class="product_img_2 product_img_" src="" alt="" />
          <img class="product_img_3 product_img_" src="" alt="" />
          <img class="product_img_4 product_img_" src="" alt="" />
        </div>
      </div>
      <div class="col-6 product_info">
        <p>
          Xарактеристика сонячної електростанції 500 кВт на власні потреби
          підприємства/виробництва:
        </p>
        <ul>
          <li><span>Річна генерація:</span> 573 700 кВт × год</li>
          <li><span>Заміщення електроенергії:</span> до 100%</li>
          <li><span>Потенційна економія:</span> $67 500/рік</li>
          <li><span>Вартість:</span> $325 000</li>
          <li><span>Термін окупності:</span> 4.7 років</li>
          <li><span>Потужність, кВт:</span> 500 кВт</li>
          <li><span>Вартість кВт*год з СЕС:</span> 0.57 грн/кВт × год</li>
          <li><span>Необхідна площа:</span> 2 582 м2</li>
          <li><span>Вага модулів:</span> 28 170 кг</li>
          <li><span>Система енергомоніторингу:</span> Fronius SolarWeb</li>
          <li><span>Виробництво:</span> Європа</li>
        </ul>
        <button class="btn-danger">Замовити</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
