{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container-fluid bg-product">
  <div class="container product">
    <div class="col-12 product_head">
        {% csrf_token %}
      <h2>{{ product.title }}</h2>
    </div>
    <div class="row">
      <div class="col-6 product_img">
        <img class="product_img_0" src="{{ product.photo_1.url }}" alt="" />
        <div class="row">
          <img class="product_img_1 product_img_" src="{{ product.photo_0.url }}" alt="" />
          <img class="product_img_2 product_img_" src="{{ product.photo_1.url }}" alt="" />
          <img class="product_img_3 product_img_" src="{{ product.photo_2.url }}" alt="" />
          <img class="product_img_4 product_img_" src="{{ product.photo_3.url }}" alt="" />
        </div>
      </div>
      <div class="col-6 product_info">
        <p>{{ product.description }}</p>
        <ul>
          <li><span>Тип:</span> {{ product.catalog_type }}</li>
          <li><span>Вартість:</span> {{ product.price }}$</li>
          <li><span>Потужність, кВт:</span> {{ product.power }}</li>
          <li><span>Необхідна площа:</span> {{ product.size }} м2</li>
          <li><span>Вага модулів:</span>{{ product.weight }} кг</li>
          <li><span>Гарантія:</span> {{ product.guarantee }}</li>
          <li><span>Виробництво:</span> {{ product.made }}</li>
        </ul>
        </form>
        <form action="{% url 'basket:cart_add' product.id %}" method="POST">
          {{ cart_product_form }}
          {% csrf_token %}
          <button class="btn-danger">Замовити</button>
        </form>
        
      </div>
    </div>
  </div>
</div>
{% endblock %}
